*{
    margin: 0;
    padding: 0;
font: 700 1.7rem 'Courier New', sans-serif;
}

#titulo,
#versus {
    color: rgb(108, 31, 108);
    text-align: center;
}

#placar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#jogador, 
#computador {
    position: relative;
    border-radius: 5px;
    width: 12.5rem;
    padding: 1.9rem;
    color: rgb(255, 255, 255);
    flex-grow: 1;
}

#jogador {

background-color: rgba(151, 5, 224, 0.642) ;

}

#computador {

    background-color: rgba(224, 182, 46, 0.801);
    
    }

    #jogadorNome {
        text-align: center;
    }

    #computadorNome {
        text-align: center;
    }

    #jogadorPontos,
    #computadorPontos {
position: absolute;
top: 0.5rem;
font-size: 1.8rem;
    }

    #jogadorPontos {
        right: 1.8rem;
    }

    ul#jogadorEscolha,
    ul#computadorEscolha {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    ul#jogadorEscolha li,
    ul#computadorEscolha li {
display: inline;

    }

    ul#jogadorEscolha li a,
    ul#computadorEscolha li a {
        opacity: 0.2;
    }

    ul#jogadorEscolha li a:hover,
    ul#jogadorEscolha li a.selecionado,
    ul#computadorEscolha li a.selecionado {
    cursor: pointer;
        opacity: 1;
    }

    ul#jogadorEscolha li a img,
    ul#computadorEscolha li a img {
width: 5rem;
align-items: center;
    }

    #mensagem {
        background-color:rgb(234, 234, 234);
        font: 600 2rem 'Courier New', sans-serif;
        border-radius: 5px;
        margin: 2rem 1rem;
        padding: 1rem;
        text-align: center;
    }
