*{
   box-sizing: border-box;
}
/*Estilo de body*/
body {
    font-family: Arial, Helvetica, sans-serif;
margin: 0;
}

.anotacao {
    background-color:pink;
    padding: 5px;
    text-align: center;/*alinhamento do texto*/
}
.cabecalho {
    padding: 60px;
    text-align: center;
    background-image: url(../Imagens/JuliaCardoso.jpg);
    background-size: cover;
    color:rgb(91, 91, 91);
}

/*Estilo da barra de navegação*/
.barra_nav {
    display: flex;
    background-color:pink;
}

/*Estilos dos links  da barra de navegação*/
.barra_nav a {
   color:rgb(248, 149, 29);
   padding: 14px 10px;
   text-decoration: none;
   text-align: center;
}

/*Trocar a cor de fundo quando o cursor passar sobre o link*/
.barra_nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(248, 153, 189);
}

/*Configurar a div coluna*/
.coluna {
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(244, 175, 72);

}
/*Criar colunas desiguais (30 e 70% */
.lateral {
    flex:30%;
    background-color:lightblue;
    padding: 20px;
}

.principal {
    flex:70%;
    background-color:rgb(255, 255, 255);
    padding: 20px;
}

/*Imagens Falsas apenas para marcação do espaço*/
.imagem_falsa {
    background-color:rgb(255, 186, 221);
    width: 100%;
    padding: 20px;
    height: 200px;
}


.imagem_falsa2 {
    background-color:rgb(255, 186, 221);
    width: 100%;
    padding: 20px;
    height: 60px;
    margin-bottom: 5px;
}


.imagem_falsa3 {
    background-color:lightblue;
    width: 100%;
    padding: 20px;
    height: 200px;
}

.rodape{
    max-height: fit-content;
    padding:  20px;
    background-color:lightpink;
    text-align-last: center;
}

@media screen and (max-width: 500px) {
    .coluna, .barra_nav {
        flex-direction: column;

}
}
.cabecalho {
    padding: 60px;
    text-align: center;
    background-image: url(../Imagens/MobileDesktop.png);
    background-size: cover;
    color:rgb(91, 91, 91);
}



